@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(assets/fonts/open_sans/OpenSans-light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(assets/fonts/open_sans/OpenSans.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(assets/fonts/open_sans/OpenSans-semibold.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(assets/fonts/open_sans/OpenSans-bold.woff) format('woff');
}

/* @media only screen and  (max-width: 767px){ */
    body{
        background-color: #0c233f;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .intro-page{
        position: relative;
    }

    .intro-logo{
        position: relative;
        display: flex;
        justify-content: center;
    }

    .intro-logo .logo{
        position: relative;
        width: 25%;
        padding-top: 10px;
    }

    .intro-content{
        position: relative;
        top: 0px;
        margin: 20px;
    }

    .intro-content .intro-h1{
        position: relative;
        font-style: normal;
        font-weight: 700;

        color: #fff;
        text-transform: capitalize;
        text-align: left;
        font-size: 40px;
        line-height: 46px;
        margin: 0;
    }

    .intro-content .intro-p{
        position: relative;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        color: #fff;
        font-size: 16px;
        line-height: 25px;
        margin: 0;
    }

    .intro-content .intro-h2{
        position: relative;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        color: #fff;
        text-transform: capitalize;
        font-size: 25px;
        line-height: 29px;
    }

    .goals a{
        text-decoration: none;
    }

    .goals .crepey-skin{
        position: relative;
        background-color: #556579;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .goals .flakey-skin{ 
        position: relative;
        background-color: #556579;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .goals .firmer-skin{ 
        position: relative;
        background-color: #556579;
        width: 100%;
        height: 150px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .crepey-skin .crepey-h3{
        position: relative;
        text-transform: capitalize;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        top: 30px;
        margin-left: 25px;
        width: 50%;
    }

    .crepey-skin .crepey-img{
        position: absolute;
        top: -1px;
        height: 152px;
        left: 35%;
    }

    .crepey-skin:hover{
        border: #eaca7e solid 2px;
        background-color: #394a62;
    }

    .flakey-skin .flakey-h3{
        position: relative;
        text-transform: capitalize;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        top: 30px;
        margin-left: 25px;
        width: 50%;
    }

    .flakey-skin .flakey-img{
        position: absolute;
        top: -1px;
        height: 152px;
        left: 35%;
    }

    .flakey-skin:hover{
        border: #eaca7e solid 2px;
        background-color: #394a62;
    }

    .firmer-skin .firmer-h3{
        position: relative;
        text-transform: capitalize;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        top: 20px;
        margin-left: 25px;
        width: 50%; 
    }

    .firmer-skin .firmer-img{
        position: absolute;
        top: -1px;
        height: 152px;
        left: 35%;
    }

    .firmer-skin:hover{
        border: #eaca7e solid 2px;
        background-color: #394a62;
    }

    .pg-logo{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pg-logo .logo-pg{
        position: relative;
        width: 60%;
        padding-top: 20px;
    }

    .progress-container{
        position: relative;
        top: 70px;
    }
    
    .progress-container .btn-back{
        position: relative;
        left: -15%;
        top: 25px;
        width: 30px;
        height: 25px;
        background-color: #556579;
        color: #fff;
        font-size: 22px;
        border: 0; 
        cursor: pointer; 
    }

    .progress{
        position: relative;
    }

    .progress-count{
        position: relative;
        width: 250px;
        top: -43px;
    }

    .progress-count .progress-status {
        position: relative;
        display: block;
        font-size: 15px;
        font-family: 'Open Sans';
        color: #fff;
        left: 260px;
        top: 30px;
        width: 0;
    }

    .progress-bar {
        height: 12px;
        width: 100%;
        background: #556579;
    }

    .progress-bar .bar-pg1{
        position: relative;
        display: block;
        height: 100%;
        width: 16.6%;
        background: #eaca7e;
    }

    .quiz-container{
        position: absolute;
        top: 100px;
        margin: 20px;
    }

    .quiz-container h2{
        position: relative;
        font-family: 'Open Sans';
        font-weight: 600;
        color: #fff;
        font-size: 25px;
        line-height: 29px;
        text-align: left;
        margin-bottom: 20px;
    }

    .quiz-container a{
        text-decoration: none;
    }

    .problem-areas{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .loose-skin{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

    .loose-skin .loose-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 10px;
        width: 35%;
    }

    .loose-skin .loose-img{
        position: absolute;
        top: -.5px;
        height: 150px;
        left: 38%;;
    }

    .loose-skin:hover{
        border: 1.5px solid #e2c47c;
        background-color: #394a62;
    }

    .thin-skin{
        position: relative;
        background-color: #556579;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

    .thin-skin .thin-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 10px;
        width: 40%;
    }

    .thin-skin .thin-img{
        position: absolute;
        top: -.5px;
        height: 150px;
        left: 34%;;
    }

    .thin-skin:hover{
        border: 1.5px solid #e2c47c;
        background-color: #394a62;
    }

    .neck-skin{
        position: relative;
        background-color: #556579;
        width: 100%;
        height: 150px;

        overflow: hidden;
    }

    .neck-skin .neck-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 20px;
        width: 50%;
    }

    .neck-skin .neck-img{
        position: absolute;
        top: -.5px;
        height: 150px;
        left: 37%;;
    }

    .neck-skin:hover{
        border: 1.5px solid #e2c47c;
        background-color: #394a62;
    }

    .saggy-skin{
        position: relative;
        background-color: #556579;
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

    .saggy-skin .saggy-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 10px;
        width: 30%;
    }

    .saggy-skin .saggy-img{
        position: absolute;
        top: -.5px;
        height: 150px;
        left: 37%;;
    }

    .saggy-skin:hover{
        border: 1.5px solid #e2c47c;
        background-color: #394a62;

    }

    .pg1-lbl{
        position: absolute;
        width: 50px;
        height: 50;
        top: 35px;
        left: 20px;
    }

    .pg1-inp{
        position:absolute;
        width: 25px;
        height: 25px;
        opacity: 0;
    }

    .pg1-lbl .pg1-spn{
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        border: 2px solid #fff;
        border-radius: 2px;
        cursor: pointer;
    }


    .pg1-lbl .pg1-spn::after{
        content: '';
        position: absolute;
        left: 10px;
        bottom: 2px;
        width: 0px;
        height: 0px;
        border: solid #e2c47c;
        border-width: 0 6px 6px 0;
        transform: rotate(45deg);
        opacity: 0;
    }

    .pg1-inp:checked ~ .pg1-spn::after{
        width: 15px;
        height: 35px;
        opacity: 1;
    }


    .buttons {
        position: relative;
        top: 10px;
        display: grid;
        gap: 15px;
    }

    .buttons .cont{
        position: relative;
        width: 100%;
        height: 110px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        background-color: #e2c47c;
        padding-left: 20px;
        border: 0;
        margin-top: 10px;
    }

    .buttons .cont:hover{
        border: 2px solid #e2c47c;
    }

    .cont img {
        position: relative;
        width: 30px;
        left: 150px;
        top: 5px;
    }

    .buttons .skip{
        position: relative;
        width: 100%;
        height: 110px;
        text-align:center;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        background-color: #0c233f;
        border: #fff solid 2px;
        margin-top: 10px;
        margin-bottom: 50%;
    }

    .buttons .skip:hover{
        border: 2px solid #e2c47c;
    }

    .progress-bar .bar-pg2{
        position: relative;
        display: block;
        height: 100%;
        width: 33.2%;
        background: #eaca7e;
    }

    .niacinamide{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

    .niacinamide:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .niacinamide .niacinamide-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .niacinamide .niacinamide-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        margin-left: 60px;
        width: 80%;
        
    }

    .lipid-compound{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

    .lipid-compound:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .lipid-compound .lipid-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .problem-areas .lipid-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        margin-left: 60px;
        width: 80%;
    }

    .ribose{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
    
    .ribose:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .ribose .ribose-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .ribose .ribose-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        margin-left: 60px;
    }

    .jojoba-leaf{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;
    }

    .jojoba-leaf:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .jojoba-leaf .jojoba-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .jojoba-leaf .jojoba-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        margin-left: 60px;
        width: 80%;
    }

    .glycerin{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;
        margin-bottom: 30px;
        
    }

    .glycerin:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .glycerin .glycerin-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .glycerin .glycerin-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        margin-left: 60px;
        width: 80%;
        
    }

    .buttons-p2 {
        position: relative;
        top: 10px;
        display: grid;
        gap: 15px;
        border-top: 2px solid #5c6c80;
        padding-top: 30px;
    }

    .buttons-p2 .cont{
        position: relative;
        width: 100%;
        height: 110px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        background-color: #e2c47c;
        padding-left: 20px;
        border: 0;
        margin-top: 10px;
    }

    .buttons-p2 .cont:hover{
        border: 2px solid #e2c47c;
    }

    .cont img {
        position: relative;
        width: 30px;
        left: 150px;
        top: 5px;
    }

    .buttons-p2 .skip{
        position: relative;
        width: 100%;
        height: 110px;
        text-align:center;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        background-color: #0c233f;
        border: #fff solid 2px;
        margin-top: 10px;
        margin-bottom: 50%;
    }

    .buttons-p2 .skip:hover{
        border: 2px solid #e2c47c;
    }

    .buttons-p2 .unsure-container{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;

    } 

    .unsure-container:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .unsure-container .unsure-img{
        position: relative;
        width: 25px;
        top: 35%;
        left: 5%;
    }

    .unsure-container .unsure-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 55px;
        top: 0px;
    }

    .progress-bar .bar-pg3{
        position: relative;
        display: block;
        height: 100%;
        width: 50%;
        background: #eaca7e;
    }

    .skin-type{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .normal-img{
        position: relative;
        width: 330px;
    }
    
    .slider-normal {
        position: absolute;
        top: 340px;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }

    .sliderrange {
        -webkit-appearance: none; 
        appearance: none;
        width: 100%; 
        height: 25px; 
        background: transparent; 
        outline: none; 
        opacity: 0.7; 
        -webkit-transition: .2s; 
        transition: opacity .2s;
      }

      .sliderrange:hover {
        opacity: 1; 
      }

      .sliderrange::-webkit-slider-thumb {
        -webkit-appearance: none; 
        appearance: none;
        width: 25px; 
        height: 25px; 
        background: #e2c47c;
        cursor: pointer; 
        border-radius: 100%;
      }
      
      .sliderrange::-moz-range-thumb {
        width: 25px; 
        height: 25px; 
        background: #e2c47c; 
        cursor: pointer; 
      }
      

    .slider-normal input[type="range"] {
        width: 450px;
        height: 20px;
        background:  #546578;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .slider-normal .normal-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: left;
        width: 50px;
        left: 30px;
    } 
    
    .slider-normal .crepey-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
       text-align: right;
        width: 60px;
        left: 270px;
    }

    .buttons-p3 {
        position: relative;
        top: 130px;
        display: grid;
        gap: 15px;
        padding-top: 30px;
    }

    .buttons-p3 .cont{
        position: relative;
        width: 100%;
        height: 110px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        background-color: #e2c47c;
        padding-left: 20px;
        border: 0;
        margin-top: 10px;
    }

    .buttons-p3 .cont:hover{
        border: 2px solid #e2c47c;
    }

    .cont img {
        position: relative;
        width: 30px;
        left: 150px;
        top: 5px;
    }

    .buttons-p3 .skip{
        position: relative;
        width: 100%;
        height: 110px;
        text-align:center;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        background-color: #0c233f;
        border: #fff solid 2px;
        margin-top: 10px;
        margin-bottom: 50%;
    }

    .buttons-p3 .skip:hover{
        border: 2px solid #e2c47c;
    }

    .dry-img{
        position: relative;
        width: 330px;
    }
    
    .slider-dry {
        position: absolute;
        top: 1070px;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }

    .slider-dry input[type="range"] {
        width: 450px;
        height: 20px;
        background:  #546578;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .slider-dry .normal-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: left;
        width: 50px;
        left: 30px;
    } 
    
    .slider-dry .crepey-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
       text-align: right;
        width: 60px;
        left: 270px;
    }

    .wrinkled-img{
        position: relative;
        width: 330px;
    }
    
    .slider-wrinkled {
        position: absolute;
        top: 1800px;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }

    .slider-wrinkled input[type="range"] {
        width: 450px;
        height: 20px;
        background:  #546578;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .slider-wrinkled .normal-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: left;
        width: 50px;
        left: 30px;
    } 
    
    .slider-wrinkled .crepey-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
       text-align: right;
        width: 60px;
        left: 270px;
    }

    .scaly-img{
        position: relative;
        width: 330px;
    }
    
    .slider-scaly {
        position: absolute;
        top: 2520px;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }

    .slider-scaly input[type="range"] {
        width: 450px;
        height: 20px;
        background:  #546578;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .slider-scaly .normal-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: left;
        width: 50px;
        left: 30px;
    } 
    
    .slider-scaly .crepey-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
       text-align: right;
        width: 60px;
        left: 270px;
    }

    .itchy-img{
        position: relative;
        width: 330px;
    }
    
    .slider-itchy {
        position: absolute;
        top: 3250px;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }

    .slider-itchy input[type="range"] {
        width: 450px;
        height: 20px;
        background:  #546578;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .slider-itchy .normal-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: left;
        width: 50px;
        left: 30px;
    } 
    
    .slider-itchy .crepey-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
       text-align: right;
        width: 60px;
        left: 270px;
    }

    .crep-img{
        position: relative;
        width: 330px;
    }
    
    .slider-crep {
        position: absolute;
        top: 3980px;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }

    .slider-crep input[type="range"] {
        width: 450px;
        height: 20px;
        background:  #546578;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .slider-crep .normal-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: left;
        width: 50px;
        left: 30px;
    } 
    
    .slider-crep .crepey-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
       text-align: right;
        width: 60px;
        left: 270px;
    }

    .pg4-logo{
        position: absolute;
        display: grid;
        place-items: center;
        top: 0px;
    }

    .pg4-logo .logo-pg4{
        position: relative;
        width: 60%;
        padding-top: 20px;
    }

    .halfway{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .halfway .halfway-img{
        position: relative;
        width: 85%;
        height: 100%;
        margin: 20px;
        top: 60px;
    }

    .halfway-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        top: 40px;
        margin-left: 25px;
    }

    .halfway-h2{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 29px;
        top: 40px;
        margin-left: 25px;
        width: 70%;
    }

    .no1-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        top: 60px;
        margin-left: 25px;
        width: 80%; 
    }

    .treatment-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        top: 60px;
        margin-left: 25px;
        width: 75%; 
    }

    .goal-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        top: 80px;
        margin-left: 25px;
        width: 75%; 
    }

    .buttons-p4 {
        position: relative;
        top: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-top: 30px;
    }

    .buttons-p4 .cont{
        position: relative;
        width: 310px;
        height: 110px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        background-color: #e2c47c;
        padding-left: 20px;
        border: 0;
        margin-top: 10px;
    }

    .buttons-p4 .cont:hover{
        border: 2px solid #e2c47c;
    }

    .cont img {
        position: relative;
        width: 30px;
        left: 150px;
        top: 5px;
    }

    .buttons-p4 .skip{
        position: relative;
        width: 310px;
        height: 110px;
        text-align:center;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        background-color: #0c233f;
        border: #fff solid 2px;
        margin-top: 10px;
        margin-bottom: 50%;
    }

    .buttons-p4 .skip:hover{
        border: 2px solid #e2c47c;
    }

    .progress-bar .bar-pg5{
        position: relative;
        display: block;
        height: 100%;
        width: 66.4%;
        background: #eaca7e;
    }

    .routine-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        top: 0px;
        width: 90%; 
    }

    .slider-routine {
        position: absolute;
        top: 150px;
        left: 48%;
        transform: translate(-50%,-50%);
        width: 300px;
        height: 60px;
        padding: 30px;
        padding-left: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
    }

    .slider-routine input[type="range"] {
        width: 450px;
        height: 20px;
        background:  #546578;
        border: none;
        border-radius: 0;
        outline: none;
    }

    .slider-routine .new-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: left;
        width: 50px;
        left: 30px;
    } 
    
    .slider-routine .pro-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 80px;
        text-align: right;
        width: 60px;
        left: 270px;
    }

    .slider-routine .one-lbl{
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 0px;
        text-align: right;
        left: 30px;
    }

    .slider-routine .ten-lbl {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        font-family: 'Open Sans';
        padding-left: 10px;
        color: #fff;
        top: 0px;
        text-align: right;
        width: 60px;
        left: 270px;
    }

    .routine-level{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 150px;
        overflow: hidden;
        top: 150px;
    }

    .routine-level .level-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        top: 10px;
        left: 30px;
        width: 90%; 
    }

    .routine-level .level-p{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 25px;
        top: 0px;
        left: 30px;
        width: 75%; 
    }

    .buttons-p5 {
        position: relative;
        top: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-top: 30px;
    }

    .buttons-p5 .cont{
        position: relative;
        width: 310px;
        height: 110px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        background-color: #e2c47c;
        padding-left: 20px;
        border: 0;
        margin-top: 10px;
    }

    .buttons-p5 .cont:hover{
        border: 2px solid #e2c47c;
    }

    .cont img {
        position: relative;
        width: 30px;
        left: 150px;
        top: 5px;
    }

    .buttons-p5 .skip{
        position: relative;
        width: 310px;
        height: 110px;
        text-align:center;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        background-color: #0c233f;
        border: #fff solid 2px;
        margin-top: 10px;
        margin-bottom: 50%;
    }

    .buttons-p5 .skip:hover{
        border: 2px solid #e2c47c;
    }

    .progress-bar .bar-pg6{
        position: relative;
        display: block;
        height: 100%;
        width: 82.6%;
        background: #eaca7e;
    }

    .pg6-lbl{
        position: absolute;
        width: 50px;
        height: 50;
        top: 30px;
        left: 20px;
    }

    .pg6-inp{
        position:absolute;
        width: 25px;
        height: 25px;
        opacity: 0;
    }

    .pg6-lbl .pg6-spn{
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
    }


    .pg6-lbl .pg6-spn::after{
        content: '';
        position: absolute;
        left: 2px;
        bottom: 2px;
        width: 0px;
        height: 0px;
        border: solid #e2c47c;
        border-width: 13px;
        border-radius: 50%;
        opacity: 0;
    }

    .pg6-inp:checked ~ .pg6-spn::after{
        width: 0px;
        height: 0px;
        opacity: 1;
    }

    .ten-mins{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 100px;
        overflow: hidden;
    }

    .ten-mins:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .ten-mins .tenmins-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 70px;
        top: 15px;
    }

    .thirty-mins{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 100px;
        overflow: hidden;
    }

    .thirty-mins:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .thirty-mins .thirtymins-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 70px;
        top: 15px;
    }

    .one-hour{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 100px;
        overflow: hidden;
    }

    .one-hour:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .one-hour .onehour-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 70px;
        top: 15px;
    }

    .five-mins{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 100px;
        overflow: hidden;
    }

    .five-mins:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .five-mins .fivemins-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 70px;
        top: 15px;
    }

    .buttons-p6 {
        position: relative;
        top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .buttons-p6 .cont{
        position: relative;
        width: 320px;
        height: 110px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        background-color: #e2c47c;
        padding-left: 20px;
        border: 0;
        margin-top: 10px;
    }

    .buttons-p6 .cont:hover{
        border: 2px solid #e2c47c;
    }

    .cont img {
        position: relative;
        width: 30px;
        left: 150px;
        top: 5px;
    }

    .buttons-p6 .skip{
        position: relative;
        width: 320px;
        height: 110px;
        text-align:center;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        background-color: #0c233f;
        border: #fff solid 2px;
        margin-top: 10px;
        margin-bottom: 50%;
    }

    .buttons-p6 .skip:hover{
        border: 2px solid #e2c47c;
    }

    .progress-bar .bar-pg7{
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        background: #eaca7e;
    }
    
    .overwhelmed{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 120px;
        overflow: hidden;
        
    }

    .overwhelmed:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .overwhelmed .overwhelmed-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .overcomplicated{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 120px;
        overflow: hidden;  
    }

    .overcomplicated:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .overcomplicated .overcomplicated-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .hopelessness{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 120px;
        overflow: hidden;  
    }

    .hopelessness:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .hopelessness .hopelessness-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .no-result{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 120px;
        overflow: hidden;  
    }

    .no-result:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .no-result .no-result-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .anxiety{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 120px;
        overflow: hidden; 
        margin-bottom: 30px; 
    }

    .anxiety:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .anxiety .anxiety-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 60px;
        top: 15px;
    }

    .buttons-p7 .none-container{
        position: relative;
        background-color: #556579; 
        width: 100%;
        height: 120px;
        overflow: hidden;
        margin-bottom: 10px;  
    } 

    .none-container:hover{
        border: 2px solid #e2c47c;
        background-color: #394a62;
    }

    .none-container .none-img{
        position: relative;
        width: 25px;
        top: 35%;
        left: 10%;
    }

    .none-container .none-h3{
        position: relative;
        text-align: left;
        color: #fff;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-left: 70px;
        top: 3px;
    }

    .buttons-p7 {
        position: relative;
        top: 10px;
        display: grid;
        gap: 15px;
        border-top: 2px solid #5c6c80;
        padding-top: 30px;
    }

    .buttons-p7 .cont{
        position: relative;
        width: 100%;
        height: 120px;
        text-align: left;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        background-color: #e2c47c;
        padding-left: 20px;
        border: 0;
    }

    .buttons-p7 .cont:hover{
        border: 2px solid #e2c47c;
    }

    .cont img {
        position: relative;
        width: 30px;
        left: 150px;
        top: 5px;
    }

    .buttons-p7 .skip{
        position: relative;
        width: 100%;
        height: 120px;
        text-align:center;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        background-color: #0c233f;
        border: #fff solid 2px;
        margin-top: 10px;
        margin-bottom: 50%;
    }

    .buttons-p7 .skip:hover{
        border: 2px solid #e2c47c;
    }
/* } */
@media only screen and  (min-width: 768px) and (max-width: 1023px){

    .intro-logo .logo {
        width: 80px;
    }

    .intro-content .intro-h1 {
        width: 70%;
    }

    .goals{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .goals .intro-h2 {
        line-height: 29px;
        left: -70px;
        margin-bottom: 30px;
    }

    .goals .crepey-skin {
        width: 350px;
    }

    .goals .flakey-skin {
        width: 350px;
    }

    .goals .firmer-skin {
        width: 350px;
    }

    .progress-container {
        left: -70px;
    }

    .progress-bar {
        width: 400px; 
    }

    .progress-count .progress-status {
        left: 410px;
        width: 0;
    }

    .quiz-container {
        width: 460px;
    }

    .pg1-lbl {
        top: 40px;
        left: 35px;
    }

    .loose-skin .loose-img {
        left: 54%;
    }

    .loose-skin .loose-h3 {
        margin-left: 70px;
        top: 20px;
        width: 51%;
    }

    .thin-skin .thin-img {
        left: 54%;
    }

    .thin-skin .thin-h3 {
        margin-left: 70px;
        top: 20px;
        width: 51%;
    } 
    
    .neck-skin .neck-img {
        left: 54%;
    }

    .neck-skin .neck-h3 {
        margin-left: 70px;
        top: 20px;
        width: 51%;
    }

    .saggy-skin .saggy-img {
        left: 54%;
    }

    .saggy-skin .saggy-h3 {
        margin-left: 70px;
        top: 20px;
        width: 51%;
    }

    .buttons .cont {
        padding-left: 40px;
    }

    .cont img {
        left: 240px;
    }

    .niacinamide .niacinamide-h3 {
        margin-left: 70px;
    }

    .niacinamide .niacinamide-p {
        margin-left: 70px;
    }

    .lipid-compound .lipid-h3 {
        margin-left: 70px;
    }

    .problem-areas .lipid-p {
        margin-left: 70px;
    }

    .ribose .ribose-h3 {
        margin-left: 70px;
    }

    .ribose .ribose-p {
        margin-left: 70px;
    }

    .jojoba-leaf .jojoba-h3 {
        margin-left: 70px;
    }
    
    .jojoba-leaf .jojoba-p {
        margin-left: 70px;
    }

    .glycerin .glycerin-h3 {
        margin-left: 70px;
    }

    .glycerin .glycerin-p {
        margin-left: 70px;
    }

    .buttons-p2 .cont {
        padding-left: 40px;
    }

    .unsure-container .unsure-img {
        left: 10%;
    }

    .unsure-container .unsure-h3 {
        margin-left: 80px;
    }

    .buttons-p3 .cont {
        padding-left: 40px;
    }

    .normal-img {
        width: 465px;
    }

    .slider-normal {
        top: 440px;
    }

    .dry-img {
        width: 465px;
    }

    .slider-dry {
        top: 1350px;
    }

    .wrinkled-img {
        width: 465px;
    }

    .slider-wrinkled {
        top: 2250px;
    }

    .scaly-img {
        width: 465px;
    }

    .slider-scaly {
        top: 3155px;
    }

    .itchy-img {
        width: 465px;
    }

    .slider-itchy {
        top: 4060px;
    }
    
    .crep-img {
        width: 465px;
    }

    .slider-crep {
        top: 4970px;
    }

    .halfway-h3 {
        margin-left: 7%;
    }

    .halfway-h2 {
        margin-left: 7%;
        width: 80%;
    }

    .no1-p {
        margin-left: 7%;
    }

    .treatment-p {
        margin-left: 7%;
        width: 80%;
    }

    .goal-p {
        margin-left: 7%;
        width: 80%;
    }

    .buttons-p4 .cont {
        width: 650px; 
        padding-left: 40px;
    }

    .buttons-p4 .cont img {
        left: 460px;
    }

    .buttons-p4 .skip {
        width: 650px; 
    }

    .slider-routine {
        width: 450px;
    }

    .slider-routine .ten-lbl {
        left: 415px;
    }

    .slider-routine .pro-lbl {
        left: 415px;
    }

    .buttons-p5 .cont {
        width: 460px;
        padding-left: 40px;
    }

    .buttons-p5 .skip {
        width: 460px; 
    }
    
    .pg6-lbl {
        left: 50px;
    }

    .ten-mins .tenmins-h3 {
        margin-left: 20%;
    }

    .thirty-mins .thirtymins-h3 {
        margin-left: 20%;
    }

    .one-hour .onehour-h3 {
        margin-left: 20%;
    }

    .five-mins .fivemins-h3 {
        margin-left: 20%;
    }

    .buttons-p6 .cont {
        width: 460px;
        padding-left: 40px;
    }

    .buttons-p6 .skip {
        width: 460px;
    }


    







}